body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #4b6377b2, rgba(165, 83, 165, 0.555));
  overflow-x: hidden;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #0f58accb;
}


::-webkit-scrollbar-thumb {
  background: rgba(9, 136, 47, 0.959);
  border-radius: 12px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 12, 94, 0.911);
  border-radius: 12px;
}